body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#kontener
{
    width: 1503px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
header a
{
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header a:hover
{
    color: rgb(235, 108, 108);
    transition: all .55s ease;
}
.logo
{
    height: 100px;
    width: 100px;
    background-image: url(mr1.png);
    background-position: center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.baner
{
    height: 1080px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/018/878/343/original/aesthetic-illustration-of-streetwear-t-shirt-design-graphic-typographic-poster-or-tshirts-street-wear-and-urban-style-vector.jpg');
    background-size: 100% 1080px;
    background-position: center;
    background-repeat: no-repeat;
}
.nowosci
{
    display: flex;
    height: 900px;
    margin-top: 70px;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    text-decoration: overline red;
}
.nowa-kolekcja1
{
    margin-left: 100px;
    width: 800px;
    height: 800px;
    background-image: url('https://preview.redd.it/qgyhq9s8e4971.jpg?width=640&crop=smart&auto=webp&s=a40f7fc71add585505a7678ae0445ac8617b2b01');
    background-position: center;
    background-size: 700px 700px;

}
.nowa-kolekcja2
{
    margin-right: 100px;
    margin-left: 50px;
    width: 800px;
    height: 800px;
    background-image: url('https://preview.redd.it/kyw4agv8e4971.jpg?width=640&crop=smart&auto=webp&s=d56293912a70b6460210b201bff98f44069f88e0');
    background-position: center;
    background-size: 700px 700px;

}
.nowa-kolekcja1 button
{
    font-size: 20px;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 100;
    color: rgb(0, 0, 0);
    background-color: rgb(177, 3, 3);
    width: 170px;
    height: 50px;
    margin-left: 325px;
    margin-top: 735px;
    border-radius: 20px;
    border: 2px solid rgb(94, 2, 18);
    cursor: pointer;
}
.nowa-kolekcja1 button:hover, .nowa-kolekcja2 button:hover
{
    color: white;
    filter: brightness(0.8);
    transition: 0.80s;
}
.nowa-kolekcja2 button
{
    font-size: 20px;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: 100;
    color: rgb(0, 0, 0);
    background-color: rgb(177, 3, 3);
    width: 170px;
    height: 50px;
    margin-left: 325px;
    margin-top: 735px;
    border-radius: 20px;
    border: 2px solid rgb(94, 2, 18);
    cursor: pointer;
}
.new-arrivals
{
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    display: flex;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
}
.produkt1
{
    margin-left: 100px;
    width: 400px;
    height: 400px;
    background-image: url('https://ae01.alicdn.com/kf/H5a8a850d16d14e17866807f3f106fe574.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt2
{
    margin-left: 45px;
    width: 400px;
    height: 400px;
    background-image: url('https://ae01.alicdn.com/kf/S13da344cddbc41f58c4fba683e0ccd08k/Supzoom-2022-New-Arrival-Top-Fashion-Short-Sleeve-Summer-Large-Design-Youth-Cotton-Casual-O-neck.jpg_640x640.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt3
{
    margin-left: 45px;
    width: 400px;
    height: 400px;
    background-image: url('https://ae01.alicdn.com/kf/Hf77f34222285484ebeaa452c34d2fadb0.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt4
{
    margin-left: 45px;
    margin-right: 100px;
    width: 400px;
    height: 400px;
    background-image: url('https://ae01.alicdn.com/kf/H20e613972c304164b1ccbfcf63770f28z/ZAZOMDE-Men-s-T-Shirts-2022-Chinese-Style-Lucky-Printed-Short-Sleeve-Tshirts-Summer-Hip-Hop.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt1:hover
{
    background-image: url('https://ae01.alicdn.com/kf/H5a8a850d16d14e17866807f3f106fe574.jpg');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt2:hover
{
    background-image: url('https://ae01.alicdn.com/kf/S13da344cddbc41f58c4fba683e0ccd08k/Supzoom-2022-New-Arrival-Top-Fashion-Short-Sleeve-Summer-Large-Design-Youth-Cotton-Casual-O-neck.jpg_640x640.jpg');
    background-size: 750px 750px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt3:hover
{
    background-image: url('https://ae01.alicdn.com/kf/Hf77f34222285484ebeaa452c34d2fadb0.jpg');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt4:hover
{
    background-image: url('https://ae01.alicdn.com/kf/H20e613972c304164b1ccbfcf63770f28z/ZAZOMDE-Men-s-T-Shirts-2022-Chinese-Style-Lucky-Printed-Short-Sleeve-Tshirts-Summer-Hip-Hop.jpg');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt5
{
    margin-left: 100px;
    width: 400px;
    height: 400px;
    background-image: url('https://id-test-11.slatic.net/p/1d2294a25efb3ff67a37bc26f002e8b4.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt6
{
    margin-left: 45px;
    width: 400px;
    height: 400px;
    background-image: url('https://i.etsystatic.com/32463638/r/il/65d69f/3804870961/il_fullxfull.3804870961_9t6y.jpg');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt7
{
    margin-left: 45px;
    width: 400px;
    height: 400px;
    background-image: url('https://cdn.shopify.com/s/files/1/0266/2403/2817/products/japanese-t-shirt-daruma-black-s-400_1200x.jpg?v=1666902870');
    background-size: 400px 400px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt8
{
    margin-left: 45px;
    margin-right: 100px;
    width: 400px;
    height: 400px;
    background-image: url('https://cdna.lystit.com/1040/1300/n/photos/gaudenziboutique/ff3349d6/evisu-Black-Daruma-Buddy-Cotton-T-shirt-Man.jpeg');
    background-size: 400px 450px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.produkt5:hover
{
    background-image: url('https://id-test-11.slatic.net/p/1d2294a25efb3ff67a37bc26f002e8b4.jpg');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt6:hover
{
    background-image: url('https://i.etsystatic.com/32463638/r/il/65d69f/3804870961/il_fullxfull.3804870961_9t6y.jpg');
    background-size: 750px 750px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt7:hover
{
    background-image: url('https://cdn.shopify.com/s/files/1/0266/2403/2817/products/japanese-t-shirt-daruma-black-s-400_1200x.jpg?v=1666902870');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.produkt8:hover
{
    background-image: url('https://cdna.lystit.com/1040/1300/n/photos/gaudenziboutique/ff3349d6/evisu-Black-Daruma-Buddy-Cotton-T-shirt-Man.jpeg');
    background-size: 700px 700px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
#kontakt
{
    height: 300px;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2021/01/10/k-dark-wallpaper.jpg');
    background-size: 1920px 1000px;
    background-repeat: no-repeat;
    background-position: center;
}
#kontakt p
{
    color: white;
    margin-left: 50px;
    font-family: 'Delicious Handrawn', cursive;
}
#kontakt i
{
    margin-top: 30px;
    font-size: 17px;
    margin-right: 15px;
    cursor: pointer;
}
#kontakt i:hover
{
    filter: brightness(0.4);
    transition: 0.3s;
}